<select name="sample_select">
    {% for key,value in data %}
        <option value="{{ value }}">
            {{ key }}
        </option>
    {% endfor%}
</select>

<select name="option2">
    {% for key,value in option2 %}
        <option value="{{ value }}">
            {{ key }}
        </option>
    {% endfor%}
</select>
